#button_link{
	         background-color: green;
			 border: 2px solid black;
			 color: white;
			 padding: 5px 10px;
			 text-align: center;
			 display: inline-block;
			 font-size: 20px;
			 margin: 10px 30px;
			 cursor: pointer;
}
			 
#body{
	  background-color: aqua;
	  color: black;
}
#buttom{
        
		clear: both;
}
#uniforms{
	      clear: both;
		  
}